<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<body text="blue">
<table border="4">
<tr>
<td>
<center><h1>Bored Gaming</h1></center>
<center><p>Save up to 10 pictures!</p></center>
</td>
<td>
<ol>
<style type="text/css">
h1
{
	font-size:30px;
    color:green;
}	
	p
    {	
    	front-size:20px;
        color:red;
    }
</style>
<h2 style="color: purple; padding:25px;">My name Jeff</h2>
<p> <font size"5" face="Comic Sans MS" color="FF00FF">Boi I can't code for my life!    &#167; &#169; &#167; &#169; &#167; &#169;&#167; &#169; &#167;&#169; &#167; &#169; &#167;</font> </p>
<li><i>Image1</i></li>
<b><img src="ThisIsACode.jpg" alt="UnknownImage" /></b>
<p><font size"5" face="Comic Sans MS"color="FF00FF">To Messages</font> </p>
<li><i> Image2</i></li>
<b><img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi5u92F9vHTAhUS8mMKHfV9ACoQjRwIBw&url=http%3A%2F%2Fwww.businessinsider.com%2Fpapa-johns-faces-lawsuit-over-texts-2012-11&psig=AFQjCNHneAfap1ONgAd1zRZsqCslC-d8aA&ust=1494938494516282" alt="Papa john's" /></b>
<p> 
	<font size"5" face="Comic Sans MS"color="FF00FF">This is so lame...I mean this website</font>
</p>
</ol>
<h2> ANYWAY! </h2>
</td>
</tr>
</table>
</body>
</html>